/*.figures {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/


/*.on, .off{*/
/*    width: 100px;*/
/*    height: 80px;*/
/*    border: 1px solid #fff;*/
/*    text-align: center;*/
/*    font-size: 20px;*/
/*    border: solid 1px black;*/
/*}*/

/*.round {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 30px;*/
/*    background-color: burlywood;*/
/*    text-align: center;*/
/*    border: solid 1px black;*/
/*}*/


/*
.figures {
    display: flex;
    align-items: center;
}


.on, .off{
    width: 100px;
    height: 80px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 20px;
    border: solid 1px black;
}

.round {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: burlywood;
    text-align: center;
    border: solid 1px black;
}*/
